.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container .modal-content {
  position: relative;
  background-color: #3a8bff;
  padding: 20px;
  display: flexbox;
  width: 400px;
  gap: 2px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(252, 251, 251, 0.977);
  text-align: center;
}

.form-group {
  display: block;
  flex-direction: column;
  margin-bottom: 16px;
  margin: 20px;
  padding: 15px;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px;
}

input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  margin-bottom: 16px;
  background-color: azure;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.save-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.cancel-button:hover {
  background-color: #999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}
