.config-extra-hours {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  
    h3 {
      color: black;
      font-family: sans-serif;
    }
  
    .ant-form-item-label > label {
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      margin-right: 10px;
      font-size: 14px;
      color: #edecec;
    }

    div.ant-form-item-control-input-content {
        margin: 0px 0px 30px;
        height: 30px;
   }

    div.ant-row.ant-form-item-row.css-dev-only-do-not-override-1pg9a38 {
        height: 70px;
    }

    form.ant-form.ant-form-vertical.css-dev-only-do-not-override-1pg9a38 {
        width: auto;
        margin: 0px 0px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        background-color: #ebf3ff;
        border: 2px solid #0c66e1;
        color: #0c66e1;
      }

  }